<app-nav-bar></app-nav-bar>

<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-9 mx-auto">
            <div class="card mx-4">
              <div class="card-body p-4">
                <form #frmproducto="ngForm" (ngSubmit)="addProduct(frmproducto)">
                  <h1 *ngIf="bandera==0">Registrar Producto</h1>
                  <h1 *ngIf="bandera==1">Actualizar Producto</h1>
                  <p class="text-muted" *ngIf="bandera==0">Crear nuevo producto</p>
                  <p class="text-muted" *ngIf="bandera==1">Actualizar Producto</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend" *ngIf="bandera==0">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                    <div *ngIf="bandera==0">
                    <input type="text" name="sku" #sku="ngModel" [(ngModel)]="productoService.seleccionProducto.sku" class="form-control" placeholder="sku" autocomplete="sku" required>
                  </div>
                  <div *ngIf="bandera==1">
                    <input type="text" name="sku" #sku="ngModel" [(ngModel)]="productoService.seleccionProducto.sku" class="form-control" readonly>
                  </div>
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" name="codigo_barras" #codigo_barras="ngModel" [(ngModel)]="productoService.seleccionProducto.codigo_barras" class="form-control" placeholder="codigo_barras" autocomplete="codigo_barras" required>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="productoService.seleccionProducto.nombre" class="form-control" placeholder="nombre" autocomplete="nombre" required>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="text" name="descripcion" #descripcion="ngModel" [(ngModel)]="productoService.seleccionProducto.descripcion" class="form-control" placeholder="descripcion" autocomplete="descripcion"  required>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="text" name="precio" #precio="ngModel" [(ngModel)]="productoService.seleccionProducto.precio" class="form-control" placeholder="precio" autocomplete="precio" required>
                  </div>
                  <button class="btn btn-block btn-success" *ngIf="bandera==0">Agregar producto</button>
                  <button class="btn btn-block btn-primary" *ngIf="bandera==1">Actualizar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
<section class="page-section" id="services">
        <h2 class="text-center mt-0">Lista de productos</h2>
        <hr class="divider my-4" />
</section>
<div id="portfolio">
            <div class="container-fluid p-0">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-lg-12">
                          <div class="card">
                            <div class="card-header">
                              <i class="fa fa-align-justify"></i> Catalogo Productos
                            </div>
                            <div class="card-body">
                              <table class="table table-bordered table-striped table-sm">
                                <thead>
                                  <tr>
                                    <th>SKU</th>
                                    <th>Codigo barras</th>
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Precio</th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody *ngFor="let producto of productoService.productos">
                                  <tr>
                                    <td>{{producto.sku}}</td>
                                    <td>{{producto.codigo_barras}}</td>
                                    <td>{{producto.nombre}}</td>
                                    <td>{{producto.descripcion}}</td>
                                    <td>{{producto.precio}}</td>
                                   <td>
                                      <span class="badge badge-primary" (click)="openForEdit(producto)">Editar</span>
                                      <span class="badge badge-danger" (click)="deleteProduct(producto.sku)">eliminar</span>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
<!--Formulario para un formDialogo en actualizacion de usuario-->

